http_interactions:
- request:
    method: GET
    uri: https://geo.vliz.be/geoserver/Emodnetbio/wcs?service=WCS&version=2.0.1&coverageId=Emodnetbio__aca_spp_19582016_L1&request=DescribeCoverage
  response:
    status: 200
    headers:
      content-disposition: inline; filename=geoserver-DescribeCoverage.application
      content-type: application/xml
    body:
      string: |
        <?xml version="1.0" encoding="UTF-8"?><wcs:CoverageDescriptions xmlns:wcs="http://www.opengis.net/wcs/2.0" xmlns:ows="http://www.opengis.net/ows/2.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlcov="http://www.opengis.net/gmlcov/1.0" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:swe="http://www.opengis.net/swe/2.0" xmlns:wcsgs="http://www.geoserver.org/wcsgs/2.0" xsi:schemaLocation=" http://www.opengis.net/wcs/2.0 http://schemas.opengis.net/wcs/2.0/wcsDescribeCoverage.xsd http://www.geoserver.org/wcsgs/2.0 https://geo.vliz.be/geoserver/schemas/wcs/2.0/wcsgs.xsd">
          <wcs:CoverageDescription gml:id="Emodnetbio__aca_spp_19582016_L1">
            <gml:description>Generated from ImageMosaic</gml:description>
            <gml:name>EMODnet Relative abundance Acartia spp. masked with relative error 0.3 (North Atlantic, 1958-2016)</gml:name>
            <gml:boundedBy>
              <gml:EnvelopeWithTimePeriod srsName="http://www.opengis.net/def/crs/EPSG/0/4326" axisLabels="Lat Long time" uomLabels="Deg Deg s" srsDimension="2">
                <gml:lowerCorner>34.95 -75.05</gml:lowerCorner>
                <gml:upperCorner>75.05000000000001 20.05000000000001</gml:upperCorner>
                <gml:beginPosition>1958-02-16T01:00:00.000Z</gml:beginPosition>
                <gml:endPosition>2016-11-16T01:00:00.000Z</gml:endPosition>
              </gml:EnvelopeWithTimePeriod>
            </gml:boundedBy>
            <wcs:CoverageId>Emodnetbio__aca_spp_19582016_L1</wcs:CoverageId>
            <gml:coverageFunction>
              <gml:GridFunction>
                <gml:sequenceRule axisOrder="+2 +1">Linear</gml:sequenceRule>
                <gml:startPoint>0 0</gml:startPoint>
              </gml:GridFunction>
            </gml:coverageFunction>
            <gmlcov:metadata>
              <gmlcov:Extension>
                <ows:Keywords>
                  <ows:Keyword>aca_spp_19582016_L1</ows:Keyword>
                  <ows:Keyword>WCS</ows:Keyword>
                  <ows:Keyword>ImageMosaic</ows:Keyword>
                </ows:Keywords>
                <ows:Metadata xlink:type="simple" xlink:href="https://emodnet.ec.europa.eu/geonetwork/srv/api/records/6d617269-6e65-696e-666f-000000005438/formatters/xml"/>
                <ows:Metadata xlink:type="simple" xlink:href="https://www.vliz.be/en/imis?module=dataset&amp;dasid=5438&amp;show=inspire"/>
                <wcsgs:TimeDomain xmlns:wcsgs="http://www.geoserver.org/wcsgs/2.0" default="2016-11-16T01:00:00.000Z">
                  <gml:TimeInstant gml:id="Emodnetbio__aca_spp_19582016_L1_td_0">
                    <gml:timePosition>1958-02-16T01:00:00.000Z</gml:timePosition>
                  </gml:TimeInstant>
                  <gml:TimeInstant gml:id="Emodnetbio__aca_spp_19582016_L1_td_1">
                    <gml:timePosition>1958-05-16T01:00:00.000Z</gml:timePosition>
                  </gml:TimeInstant>
                  <gml:TimeInstant gml:id="Emodnetbio__aca_spp_19582016_L1_td_2">
                    <gml:timePosition>1958-08-16T01:00:00.000Z</gml:timePosition>
                  </gml:TimeInstant>
                 [...]
- request:
    method: GET
    uri: https://www.opengis.net/def/crs/EPSG/0/4326
  response:
    status: 200
    headers:
    body:
      raw_gzip: |
        eJy1VU1v2zAMvRfofxB8j2TLaZoYiXtIimyHAUWNYWfBph1t1gckpXH36wfLTlKnXxnQHEU+
        8omk9Di
        /a0SNnsBYruQiiHAYIJC5KrisFsHWlaNpcJdeX80rUSdrUAU4ni8fM9SIWtqkqbn8
        swg2zumEkN1uh3
        cxVqYi0Ww2I94b9FDQts1oZNKMVKUTqyFPbL4BwUaNLZL7h2ydUBwnBXPM
        ggtQS8mLRdBGjnJjR+OYT
        vbpKlEPeJUGWXGLJThSiZrEmAbp9RVC/uYCHFsxxx6M0mDcs/cg
        NG9TJ0slhJI/ekjv2jvds4a0AlUZ
        pjc8R7SYk6NjiOWyVEYwx5XM1NbkkLZFYZQBoHiF2raV
        yiBleMUlq9ELPLI+APfJX2caMhl44u3EVsx
        BSkNKR1E0orM+euAdBuYbJiuwB+vQ/n2F/MyS
        jYGya69NiE/qp8o0J08RWXowoWFIcXQTEWi0Mu6uu/
        KiEnWAyFcxxDi+vSjBBE8vW8EtDm9n
        l2SgIQ7pRZtEKQ6nk48Z+rd3+sA6WrtRu9SZLfQofz75PHYF2
        kDOHBRpyWq7xw4cw5ifllXw
        qkZoHEh3VoX3HkroNA4/7V+rIzZXGtJvyvC/SjpWo1wJrWRLp8r2j9tn
        60DgOTmiTxr08s69
        6Q0B6hK8KVtnCNpj9o6aaaN+Q97KylLJXvXPewoHOIlubmbxJ2+hG7JXrvVBO/3
        aOItLmeIR
        ysz3koxnH3+ffRNPiv6sg7wA6XjJwaBcFZBplsMiaAU7SNtF08UfUcdIyQSkv9YZmo47kD
        cc
        3H7q/e28Aeqaa6t4werlf3SgL38ypvT98j1B1e/lFXNbcRaBR5JJTN/91F1lLzZ++g8RQqO/
  recorded_at: 2025-10-10 08:03:30
- request:
    method: GET
    uri: https://geo.vliz.be/geoserver/Emodnetbio/wcs?service=WCS&version=2.0.1&coverageId=Emodnetbio__aca_spp_19582016_L1&subset=Lat%2853%2C58%29&format=image%2Ftiff&request=GetCoverage
  response:
    status: 200
    headers:
      content-disposition: inline; filename=Emodnetbio__aca_spp_19582016_L1.tif
      content-type: image/tiff
    body:
      raw_gzip: |-
        eJzUmGlYjl3b98/mVBqkqAxlnmVIZVi/I3Mkcy4ZChkv85hZxkxFCpUxkUhkCM0TaVSRioQU
        SYkkofK
        [...]
